header.labelheader
	p.school-logo-container.unselectable
		a.school-logo(href="/")
			img(src='#{school.school_logo}')
			| &nbsp;优云
	nav.main.unselectable
		ul
			for menuitem in menuitems
				li(class="#{menuitem.class}")
					a(href="#{menuitem.href}") #{menuitem.name}
	nav.user.unselectable
		div.user-icon
			i(style="background-image: url('#{ user.userImage }'), url('/static/img/default_image/default-user.png');")
		ul
			li
				a(href="/#/account") 我的账户
			li
				a(href="/#/logout") 登出